# Node modules
node_modules/

# Expo files
.expo/
.expo-shared/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store

# Android
android/app/*.keystore
android/.gradle/
android/app/build/
android/build/

# Ignore specific production keystore files and firebase config
android/app/google-services.json
*.keystore
*.jks
*.pem
*.p12
*.key

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/xcshareddata/
*.pbxuser
*.mode1v3
*.mode2v3

# React Native specific
*.packager.js
*.hprof
*.swp

# Build outputs
*.apk
*.apks
*.aab
*.ipa

# Certificates and provisioning
*.p12
*.key
*.mobileprovision
*.pem

# Env files
.env
.env.*    # If you have .env.production, .env.staging, etc.

# Fastlane (if using)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
coverage/
*.tgz
*.lock-wscript
.vscode/

# Metro / React Native
metro-cache/
tmp/
dist/

# IDEs
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# Watchman
.watchmanconfig